@import '~@angular/material/theming';
@import './app-common/sidebar/sidebar.component.scss';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
$app-primary: mat-palette($mat-blue-grey);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$angular-dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
.darkMode {
  @include angular-material-color($angular-dark-theme);
  @include side-bar-color($angular-dark-theme);
}
@include side-bar-color($app-theme);