<div class="page-wrapper mat-app-background" [ngClass]="{'toggled' : getSideBarState()}">


    <app-sidebar [darkMode]="darkMode" (darktoggled)="darkModeTogged()"></app-sidebar>

    <main class="page-content">
        <nav class="navbar fixed-top ">
            <app-top-nav class="fixed-topnav" (toggled)="toggleSidebar()">
            </app-top-nav>
        </nav>

        <div class="container-fluid">
            <router-outlet></router-outlet>

        </div>
        <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
    </main>

    <!-- <a href="https://github.com/azouaoui-med/angular-pro-sidebar"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a> -->
</div>