  .rowActions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
    //   padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
}
.export-button {
    margin-top: 23px;
  }
  
.menu-form-wrapper .mat-menu-content:not(:empty) {
  padding: 0;
}

.menu-form-wrapper .menu-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}