<form class='dynamic-form' [formGroup]='form'>
  <mat-accordion multi>
    <mat-expansion-panel [expanded]="true" [class.mat-expansion-panel]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Details
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngFor='let field of fields;' dynamicField [field]='field' [group]='form'>
      </ng-container>
  
    </mat-expansion-panel>
  </mat-accordion>


</form>